/* body {
    font-family: 'Yanone Kaffeesatz';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    width: 100%;
    height: 85%;
} */
html, body {
    font-family: 'Yanone Kaffeesatz';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#map {
    width: 100%;
    height: 100%;
}
.popover {
    display: block;
}
.popover-title {
    background: #F46600;
    color: white;
    font-size: 16px;
}
.popover .close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 40px;
    color: white;
    opacity: unset;
}
.btn {
    margin-top: 10px;
}

.fa-small {
    color: white;
    font-size: 15px;
}

.fa-big {
    color: #3B3B3B;
    font-size: 55px;
}

.reviews {
    overflow: auto;
    height: 80px;
}

.reviews__item {
    padding: 5%;
}

.reviews__item_name {
    color: #3B3B3B;
    font-size: 18px;
    line-height: 35px;
}

.reviews__item_text {
    color: #3B3B3B;
    font-size: 15px;
}

.bottom {
    border-top: 1px solid #A2A2A2;
    padding: 5%;
    line-height: 30px;
}

.bottom__text {
    color: #F46600;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;  
}

.bottom__form input {
    color: #A2A2A2;
    font-size: 15px;
}

.bottom__form button {
    color: white;
    float: right;
    background: #F46600;
    font-size: 11px;
    padding: 2%;
    border: #ef7f1a;
    cursor: pointer;
    border-radius: 10%;
}